<p style="color: green"><%= notice %></p>

<h1>Data Sessions</h1>
<p> Welcome to Data Session, a community learning platform for Data Scientists</p>


<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
